<div class="text-sec">
    <h1 class="heading-red">Contact Us</h1>
    <p>
      confirm having received the laptop as per specifications mentioned above. I also declare that I have read,
      understood and agree to abide by the conditions listed above.
      confirm having received the laptop as per specifications mentioned above. I also declare that I have read,
      understood and agree to abide by the conditions listed above.
      confirm having received the laptop as per specifications mentioned above. I also declare that I have read,
      understood and agree to abide by the conditions listed above.
      confirm having received the laptop as per specifications mentioned above. I also declare that I have read,
      understood and agree to abide by the conditions listed above.
    </p>
  
    <a href="#" class="btn btn-red">Get In Touch </a>
    <div class="clear"></div>
  </div>